<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for employee in employees %}
            <li>
            <div>
                {{ employee.first_name }} {{ employee.level }}
            </div>
            <div>
                Current department: {{ employee.department }}
                Current Project: {{ employee.project.name }}
            </div>
            <div>
                AGE: {{ employee.age }}
                EXPERIENCE: {{ employee.years_of_experience }}
            </div>
            </li>

        {% endfor %}
    </ul>
</body>
</html>